/* html {
    height: 100%;
} */

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #FFC4C4;
}

.main-area {
    position: relative;
}

.header {
    font-size: 130%;
    text-align: center;
}

.step {
    margin-left: 0px;
    margin-right: 0px;
}

.step-space {
    height: 50px;
}

.h-space {
    width: 15px;
    display: inline-block;
}

.emoji-base {
    font-size: 180%;
}

.main-text {
    font-size: 130%;
    margin-left: 15px;
}

.check-emoji {
    font-size: 170%;
    color: green;
}