/* html {
    height: 100%;
} */
@font-face {
    font-family: "Kalam";
    src: url("fonts/Kalam-Regular.ttf") format('truetype');
}

body {
    background-color: #FFC4C4;
    font-family: "Kalam";
}

.page {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.main-area {
    position: relative;
}

.header {
    font-size: 150%;
    text-align: center;
}

.step {
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.step-space {
    height: 30px;
}

.h-space {
    width: 15px;
    display: inline-block;
}

.emoji-base {
    width: 80px;
    font-size: 200%;
}

.main-text {
    font-size: 150%;
    margin-left: 15px;
}

.check-emoji {
    font-size: 170%;
    color: green;
}